<div id="<%= dom_id salary_fit %>">
  <p>
    <strong>Name:</strong>
    <%= salary_fit.name %>
  </p>

  <p>
    <strong>Idade:</strong>
    <%= salary_fit.idade %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= salary_fit.descricao %>
  </p>

</div>
