<h1>Editing salary fit</h1>

<%= render "form", salary_fit: @salary_fit %>

<br>

<div>
  <%= link_to "Show this salary fit", @salary_fit %> |
  <%= link_to "Back to salary fits", salary_fits_path %>
</div>
